.about
  .content#about
    %h1#title Ideas - Onde sua ideia cria asas
    %section

      .question
        %h2 O que é o Ideas?
        %p O ideas é um site destinado ao compartilhamento de ideias, sejam elas lucrativas ou não.

      .question
        %h2 Quem pode entrar no ideas?
        %p Qualquer pessoa pode entrar no site, desde crianças a vovôs, o importante é ter ideias!

      .question
        %h2 Como receber doações?
        %p
          O site conta com o sistema de doações do pagseguro. Para o botão funcionar com perfeição o email da conta do usuario precisa ser cadastrada no site do pagseguro como vendedor, cadastre-se no seguinte endereço:
          = link_to 'Pagseguro', 'http://pagseguro.uol.com.br/registration/registration.jhtml?tipo=cadastro#!vendedor'

      .question
        %h2 O que é o diario da ideia?
        %p Após uma idea ser criada o usuario pode compartilhar pequenos tutoriais, dicas, e também o andamento de seu projeto. O link para o diario fica na pagina de ideas

      .question
        %h2 Como posso entrar em contato com o dono de uma idea?
        %p Na página de cada ideia, fica disponivel o email do usuário que postou a ideia.

      .question
        %h2 Ache um problema no site ou tenho uma sugestão.
        %p Na parte de baixo de cada pagina existe um link para Duvidas e sugestões, que envia um e-mail para cada administrador do site.
    %h1#end Tenha uma otima viagem no Ideas. Compatilhe ideias !


