.userNew
  .data
    .greetings
      %h1 Cadastro validado com sucesso !
      %h2 Seja bem vindo ao ideas.
      %h3 Agora que ja esta tudo funcionando, complete seu cadastro !
      =link_to "Entrar", "/login/login"