%h1
  .ValidatedTitle{align: "center"}
    Cadastro validado com sucesso !
    %br
    Seja bem vindo ao Site !
    %br
    Agora que ja esta tudo funcionando, complete seu cadastro !
    %br
    =link_to "Entrar", "/login/login"
.clear