%form{ target: 'pagseguro', action: 'https://pagseguro.uol.com.br/checkout/v2/donation.html', method: 'post' }
  %input{ type: 'hidden', name: 'receiverEmail', value: "#{@theory.user.email}" }
  %input{ type: 'hidden', name: 'currency', value: 'BRL'}
  %input{name: "submit", src: "/images/120x53-doar.png", type: "image"}