%a{:href => "http://www.reddit.com/submit", :onclick => "window.location = 'http://www.reddit.com/submit?url=' + encodeURIComponent(window.location); return false"}
    %img{:alt => "submit to reddit", :border => "0", :src => "http://www.reddit.com/static/spreddit7.gif"}