%h1{align: "center"}
  Parabéns e Obrigado!
%h2{align: "center" }
  Você acaba de adotar uma ideia, agora você possui algumas resposabilidades.
.AdoptList
  %h3
    %dl
      %dt
        Fazer um historico:
      %dd
        º Procure fazer upload de imagens com o progresso da ideia.
      %dd
        º Descreva os processos, que foram feitos no progresso do projeto.
      %dd
        º Procure ser o mais técnico possivel.
      %dt
        Divirta-se fazendo o projeto!!
.clear


