.newIdea
  %section#introduction
    %h1 Hora de pensar!
    %p
      %h2 Toda ideia é valida, coloque suas melhores ideias.
    %p
      %h2 Quando mais concisa for sua ideia, mais chances você tem de se tornar ganhar famoso e ganhar mais doações ou visualizaçoes. Caso alguma empresa goste da sua idea, novas oportunidades vão surgir.
  = render 'form'
  .hints
    %section
      %h1#hintTitle Como ter uma boa ideia?
      %h2 Título
      %p Expresse o títuto como um resumo geral da sua ideia, acrescentando o nome do projeto se existir. Você tem 100 caracteres para isto.

      %h2 Descrição
      %p A descrição da sua idea, serve para apresentar e explicar como funciona o seu projeto. Procure ser tecnico. Deixe o texto bem formatado e com facilidade para o entendimento.

      %h2 Justificativa
      %p Apresente problemas que a seu projeto vem a solucionar, e também mostre a real necessidade da sua ideia.

      %h2 Resumo
      %p O resumo, é o texto que o usuário encontra logo de cara, seja no indice ou na pagina da sua ideia. Procure explicar tudo do seu projeto, o que ele faz, pra que serve. Você tem 255 caracteres para isto.

      %h2 Gastos
      %p Mostre para o expectador o valor que seu projeto precisa para ser executado. Muitos usuarios olham este valor no primeiro momento.(Preencha apenas com números)


