.loginArea
  %h1
    %p#notice= notice
  %h1 Yo! Você por aqui?
  %h2 Faça seu login e vamos pensar um pouco!
  = form_tag "/entrar" do
    .inputs
      %p
        %label{for: "email"} E-mail
        %input#field{name: "email", type: "email"}
      %p
        %label{for: "password"} Senha
        %input#field{name:"code", type: "password"}
      %p
        %input{type: "submit", value: "Entrar", class: 'enter'}