.userNew
  .data
    .greetings
      %h1 Editando diario.
      %h2 Errou alguma coisa?
      %h1 Querido diario...
    %p#notice= notice
    .content
      = render 'form'
    .greetings
      %h2 Não deixe de colocar uma Foto !!!