.tableArea
  .data
    %p#notice= notice
    .greetings
      %h1#journal= @journal.adoption.theory.title
    .content
      .image
        -if @journal.image
          %img{src: "#{@journal.image.to_s}" }
        -else
          %img{src: "/assets/no-image-found.jpg" }
      .desc= raw @journal.description