
  body {

    width:1020px;
    height: 100%;
    background: url('cream.jpg') no-repeat ;
    background-size: 100%;
    background-attachment: fixed;
    margin: 0 auto;
    font-family: Monaco ;
  }

  img.logo{
    float:left;
    margin:0 20px 10px 0;
    border: 1px solid #ddd;
    padding: 5px;
    background: #f0f0f0;
    position: relative;
    left: 0;
    top: 0;
    -ms-interpolation-mode: bicubic;
  }

  table{
    border-collapse: collapse;
  }
  td{
    vertical-align: top;
  }

  tr.user{
    border: 1px solid black;
  }


  .boxes{
    float:left;
    word-wrap:break-word;
    height: 100% !important;
    width: 300px;
  }

/* Para formatar os links da pagina*/

a:link      {text-decoration: none;}
a:active  {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover  {text-decoration: none;}

/* Na tela inicial para configurar as boxes com idea */
  .boxes{
    width: 450px;
    height: 189px;
    border-radius: 15px;
    word-wrap:break-word;
    margin: 0;
    background-color: white;
    margin-bottom: 10px;
    border: 3px solid;
    border-color: #98F5FF;
    border-style: ridge;
  }

  .allBoxes{
    float:left;
    width: 452px;
    height: 955px;
    margin-left: 30px;
  }

  .imageIdea{
    float: left;
    width: 20%;
    margin-left: 5%;
    margin-top: 4%;
  }
  .dataIdea{
    float:right;
    width: 60%;
    margin-right: 5%;
    margin-top: 4%;}

  img.logo{
    width:120px;
    height: 150px;
    border: 1px solid #ddd;
    padding: 5px;
    background: #f0f0f0;
    position: relative;
    left: 0;
    top: 0;
    -ms-interpolation-mode: bicubic;
  }


/* Para formatar o show da ideia*/
  .Name{
    font-size: 18px;
    text-align: center;
    font-style: italic;}

  .Button{
    float:right;
    position:right absolute;
  }

  .Title{
    font:Serif;
    font-size:50px;
    font-weight:bold;
    text-align: center;}

  .Brief{
    font:Serif;
    font-size:20px;
    text-align: center;
    margin-left: 3px;
    margin-right: 5px;
    font-style: italic;
  }

  .masterBox{
    height: 100%;
  }

  .headerBox{
    width: 1018px;
    height: 280px;
    text-align: center;}

   img.logoTheory{
    width: 25%;
    height: 185px;
    margin-top: 40px;
    margin-left: 20px;
    float: left;
    border: 1px solid #ddd;
    padding: 5px;
    background: #f0f0f0;
    position: relative;
    left: 0;
    top: 0;
    -ms-interpolation-mode: bicubic;
  }

  .titleBox{
    border: 2px solid;
    border-radius: 13px;
    word-wrap: break-word;
    width: 65%;
    height: 200px;
    margin-top: 40px;
    margin-right: 20px;
    background-color: white;
    float: right;
  }

  .Sub{
    font:sans-serif;
    font-size: 45px;}

  .Text{
    font:small-caps;
    font-size: 30px;}

    .Content{
      width: 680px;
      float: right;
    }
    .clear{
      width: 1030px;
      clear: both;
    }
/* Para formatar o perfil */
  img.Profile{
    width: 150px;
    height: 190px;
    border: 1px solid #ddd;
    padding: 5px;
    background: #f0f0f0;
    position: relative;
    left: 0;
    top: 0;
    -ms-interpolation-mode: bicubic;
  }

  .Profile{
    width: 1030px;
    text-align: center;
    border-right: 5px;
  }

  .ProfileImage{
    width: 170px;
    height: 190px;
    margin-left: 30px;
  }

  .ProfileName{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
  }

  .ProfileAge{
    font-size: 15px;
    text-align: center;
    font-style: italic;
  }

  .ProfileContent{
    margin-left: 100px;
  }

  .ProfileAbout{
    font-size: 18px;
    text-align: center;
    font-style: italic;}
  }

  .titleAnotes{
    text-align: center;
  }

  #notice{
    text-align: "center";
    font-size: 30px;
    color: red;
  }


.botao {
  padding: 4px 11px;

  border: 1px solid #ffcc00;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;

  background-color: #ffcc00 !important;
  background: -webkit-linear-gradient(top, #ffcc00, #ff6600) !important;
  background: -moz-linear-gradient(top, #ffcc00, #ff6600) !important;
  background: -ms-linear-gradient(top, #ffcc00, #ff6600) !important;
  background: -o-linear-gradient(top, #ffcc00, #ff6600) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcc00', endColorstr='#ff6600',GradientType=0 );

  font-weight: bold;
  color: #FFFFFF;
  text-shadow: 0 1px 0 #666;

  box-shadow: inset 0 1px 1px #fff, 0 2px 3px #666;
  cursor:pointer;
  position: relative;
}

.botao:hover {
  box-shadow: inset 0 2px 5px #fff, 0 2px 3px #666;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#ff6600)) !important;
}

.botao:active {
  box-shadow: inset 0 2px 5px #fff, 0 1px 3px #666 !important;
  top:2px
}
  .botao a, .botao a:active, .botao a:hover, .botao a:visited { color: #FFFFFF; text-shadow: 0 1px 0 #666; }

  .Value{
    font-size: 35px;
  }

  .TheoriesIndex{
   height: 100%;
   width: 1040px;
   position: relative;
  }

  .lastTheories{
    float: right;
  }

    .mostViews{
    float: left;
  }

  .backAll{
    background-color: Ivory;
    width: 1040px;
    height: 100%;
    position: absolute;
  }

  span.page.current{
    font-size: 20px;
    font-weight: bold;
    color: #FFD700;
  }

  span.page a{
    color: #EEDD82;
  }

  span.next a{
    color:#EEDD82;
  }

  span.prev a{
    color:#EEDD82;
  }
  .ProfileImage{
    height: 100%;
    position: relative;
  }
  .ProfileData{
    height: 100%;
    position: relative;
  }

  img.JournalImage{
    height: 300px;
    width:400px;
    border: 1px solid #ddd;
    padding: 5px;
    background: #f0f0f0;
    position: relative;
    left: 0;
    top: 0;
    -ms-interpolation-mode: bicubic;
  }
  .box{
    border-width: 5px;
    border-style:inset;
    border-color: Skyblue;
    width: 600px;
    height: 100%;
  }

  h1{
     color: #1E90FF;
     font: "Segoe UI";
     font-size: 30px;
  }
  h2{
    color: #00BFFF;
    font-family: "Segoe UI";
    font-size: 25px;
  }

ul.thumb {float: left;list-style: none;margin: 0; padding: 10px;width: 720px;background-color: white;}
ul.thumb li {margin: 0; padding: 5px;float: left;position: relative;width: 110px;height: 110px;}
ul.thumb li img {width: 100px; height: 100px;border: 1px solid #ddd;padding: 5px;background: #f0f0f0;position: absolute;left: 0; top: 0;-ms-interpolation-mode: bicubic; }
ul.thumb li img.hover {margin-top:15px;background:url(/thumb_bg.png) no-repeat center center;border: none;}
.title{position:absolute;margin:0;width:185px;height:35px;font-weight:900;background:url(/blue.png) no-repeat center center;padding:17px 0 0 0;text-align:center; color: #fff;}
#content{
  width: 1020px;
  position: relative;
}
.container{
  width: 750px;
  height: 100%;
}
.linkButton {

  border: 1px solid #ffcc00;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;

  background-color: #ffcc00 !important;
  background: -webkit-linear-gradient(top, #ffcc00, #ff6600) !important;
  background: -moz-linear-gradient(top, #ffcc00, #ff6600) !important;
  background: -ms-linear-gradient(top, #ffcc00, #ff6600) !important;
  background: -o-linear-gradient(top, #ffcc00, #ff6600) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcc00', endColorstr='#ff6600',GradientType=0 );

  font-weight: bold;
  color: #FFFFFF;
  text-shadow: 0 1px 0 #666;

  box-shadow: inset 0 1px 1px #FFFFFF, 0 2px 3px #666;
  cursor:pointer;
  position:relative;
}

.linkButton:hover {
  box-shadow: inset 0 2px 5px #FFFFFF, 0 2px 3px #666;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#ff6600)) !important;
}

.linkButton:active {
  box-shadow: inset 0 2px 5px #FFFFFF, 0 1px 3px #666 !important;
  top:2px
}
  .linkButton a, .linkButton a:active, .linkButton a:hover, .linkButton a:visited { color: #FFFFFF; text-shadow: 0 1px 0 #666; }

  .field textarea{
    width: 660px;
    height: 200px;
  }
  .ContentAdoptions h2{
    color: black;
  }
  .ContentAdoptions .text{
    color: orange;
  }
  .ContentAdoptions{
    word-wrap:break-word;
    text-align: center;
    width: 290px;
    height: 100%;
    float: left;
    margin-left: 10px;
  }

  .nameTheory:link{
    font-size: 20px;
    color: #FFD700;
  }
  .nameTheory:visited{
    font-size: 25px;
    color:#FFD700;
    text-decoration: none;
  }
    .nameTheory:hover{
    color: #FFD700;
    font-size: 25px;
  }
  img.footer{
    width: 150px;
    height: 150px;
    position: absolute;
    margin-left: -90px;
  }

  footer{
    border-radius: 15px;
    width: 1040px;
    height: 200px;
    margin-top: 20px;
    position: relative;
  }

  .rightfooter{
    float: left;
    margin-left: 100px;
    position: relative;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-top: -30px;
    text-shadow :0.1em 0.1em 0.2em black;
  }

  .IdeaTitle p{
    font-size:25px;
    font-weight: bold;
    color: white;
    text-shadow :0.1em 0.1em 0.2em black;
  }

  .rightfooter p{
    width: 250px;
    float:left;
  }

  .leftfooter{
    float: right;
    margin-right: 100px;
    position: relative;
    color: white;
    margin-top: -30px;
    font-weight: bold;
    font-size: 20px;
    text-shadow :0.1em 0.1em 0.2em black;

  }

  .leftfooter p{
    width: 250px;
    float:right;
  }
  .site-footer, .page-wrap:after {
    height: 142px;
  }
  .site-footer {
   background-image: url("/images/tijolo.jpg");
   background-size: 250px;
  }

  .titleLinkIndex{
    font-weight: bold;
    font-size: 20px;
    color: #EEC900;
    text-decoration: none;
  }

  .titleLinkIndex:visited{
     color:#EEC900;
     text-decoration: none;
  }

  .titleLinkIndex:active{
     color:#FFFF00;
     text-decoration: none;
  }

  .nameLinkIndex{
    font-size: 15px;
    color: #EEC900;
    text-decoration: none;
  }

  .nameLinkIndex:visited{
     color:#EEC900;
     text-decoration: none;
  }

  .nameLinkIndex:active{
     color:#FFFF00;
     text-decoration: none;
  }
