//Color Schema
$highColor: #046380
$lightColor: #e6e2af
$ultralColor: #efecca
$shadowColor: #33332d
$neultralColor: #fff8e3

.clearfix:after 
  content: "."
  display: block
  clear: both
  visibility: hidden
  line-height: 0
  height: 0

 
.clearfix 
  display: inline-block

 
html[xmlns] .clearfix 
  display: block

 
* html .clearfix 
  height: 1%


body
  background-color: $neultralColor
  .aboutHeader
    background-color: $ultralColor
    width: 101%
    height: 600px
    margin-left: -8px
    margin-right: -8px
    text-align: center
    margin-top: 2px
    box-shadow: 1px 4px 2px $ultralColor
    & .video
      height: 328px
      width: 572px
      position: relative
      left: 200px
      top: 150px
      text-align: center
      background-color: $shadowColor
      border-radius: 3px
      float: left
      & iframe
        margin-top: 8px
        width: 555px
        height: 313px
    & .text
      float: left
      position: relative
      top: 150px
      left: 260px
      width: 555px
      height: 327px
      background-color: $shadowColor
      color: $ultralColor
      border-radius: 8px
      & h2
        font-size: 20px
      & h3
        font-size: 19px
      & li
        font-size: 18px
    & img#about
      width: 180px
    .attentionStart
      & a.link
        height: 100px
        text-align: center
        background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.4))
        background-color: $shadowColor
        border-radius: 4px
        color: $ultralColor
        font-weight: bold
        text-align: center
        font-size: 30px
        text-decoration: none
        text-shadow: 1px 1px 1px $shadowColor
        width: 600px
        height: 70px
        display: block
        line-height: 70px
        margin: 0 auto