
  body {

    width:1020px;
    height: 100%;
    background: url('cream.jpg') ;
    background-attachment: fixed;
    margin-left: 280px;
  }

  img.logo{
    float:left;
    margin:0 20px 10px 0;
  }

  table{
    border-collapse: collapse;
  }

  tr.user{
    border: 1px solid black;
  }


  .boxes{
    float:left;
    word-wrap:break-word;
    height: 190px;
    width: 300px;
  }

  .limpa{
    clear:both;
  }


/*Organiza os links no menu*/
  .menu a:link{
    background-color: #00BFFF;
    color: #000000;
    font-weight: bold;
    border-radius: 15px;
  }

  .menu a:hover{
    background-color: #00FFFF;
    color: #000000;
    font-weight: bold;
    border-radius: 15px;
  }

/*Para formatar a tela de show da theory*/

/* Para formatar os links da pagina*/

a:link      {text-decoration: none;color: #000099}
a:active  {text-decoration: none;}
a:visited {text-decoration: none;color: #000099}
a:hover  {text-decoration: none;color: #1E90FF}

/* Na tela inicial para configurar as boxes com idea */
  .boxes{
    border:1px solid;
    width: 450px;
    height: 189px;
    border-radius: 15px;
    word-wrap:break-word;
  }

  .allBoxes{
    float:left;
    width: 452px;
    height: 955px;
  }

  .imageIdea{
    float: left;
    width: 20%;
    margin-left: 5%;
    margin-top: 4%;
  }
  .dataIdea{
    float:right;
    width: 60%;
    margin-right: 5%;
    margin-top: 4%;}

  img.logo{
    width:120px;
    height: 150px;}


/* Para formatar o show da ideia*/
  .Name{
    font: sans-serif;
    font-size: 18px;
    text-align: center;
    font-style: italic;}

  .Button{
    float:right;
    position:right absolute;
  }

  .Title{
    font:Serif;
    font-size:50px;
    font-weight:bold;
    text-align: center;}

  .Brief{
    font:Serif;
    font-size:20px;
    text-align: center;
    margin-left: 3px;
    margin-right: 5px;}

  .masterBox{
    height: 100%;
  }

  .headerBox{
    width: 1018px;
    height: 280px;
    text-align: center;}

   img.logoTheory{
    width: 25%;
    height: 185px;
    margin-top: 40px;
    margin-left: 20px;
    border-color: white;
    border: 1px solid;
    float: left;}

  .titleBox{
    border: 2px solid;
    border-radius: 13px;
    word-wrap: break-word;
    width: 65%;
    height: 185px;
    margin-top: 40px;
    margin-right: 20px;
    background-color: white;
    float: right;}

  .Sub{
    font:sans-serif;
    font-size: 45px;}

  .Text{
    font:small-caps;
    font-size: 30px;}

    .Content{
      width: 680px;
    }

