//Color Schema
$highColor: #046380
$lightColor: #e6e2af
$ultralColor: #efecca
$shadowColor: #33332d
$neultralColor: #fff8e3

body
  font-family: "trebuchet, helvetica, sans-serif"

header
  background-color: $highColor
  background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.3))
  position: fixed
  top: 0px
  right: 0px
  width: 100%
  border-bottom-left-radius: 10px
  border-bottom-right-radius: 10px
  box-shadow: 0px 1px 4px $lightColor
  height: 65px
  z-index: 999
  & img#logo
    height: 65px
    width: 180px
    float: left
  & container
    max-width: 600px
    height: 60px
    margin-left: 20px
    float: left
    position: relative
  & a
    border-radius: 4px
    color: $ultralColor
    padding-top: 20px
    font-weight: bold
    text-align: center
    font-size: 16px
    text-decoration: none
    text-shadow: 1px 1px 1px $shadowColor
    width: 80px
    height: 45px
    display: inline-block
    line-height: 20px
    &:hover
      background-color: $shadowColor
    &:active
      background-color: $ultralColor
  & .search
    & input
      width: 200px
      font-size: 33px
      font-family: "trebuchet"
      background-color: $ultralColor
      border: none
      border-radius: 4px
      box-shadow: 2px 2px 4px $shadowColor
      margin-top: 10px
      transition: width 2s
      color: $shadowColor
      padding-left: 10px
      margin-left: 10px
      &:focus
        transition: all 2s
        border: 1px solid $shadowColor
        width: 400px

.aboutHeader
  background-color: $ultralColor
  width: 120%
  height: 600px
  margin-left: -8px
  text-align: center
  margin-top: 2px
  & .video
    height: 328px
    width: 572px
    position: relative
    left: 60px
    top: 150px
    text-align: center
    background-color: $shadowColor
    border-radius: 3px
    & iframe
      margin-top: 8px
      width: 555px
      height: 313px