@import compass

//Color Schema
$highColor: #046380
$lightColor: #e6e2af
$ultralColor: #efecca
$shadowColor: #33332d
$neutralColor: #fff8e3

#content
  +clearfix
  margin: 0 auto
  margin-bottom: 40px
  margin-top: 100px
  width: 980px
  .categories
    max-width: 980px
    height: 30px
    line-height: 30px
    border-radius: 4px
    & .category
      margin: 0 auto
      width: 800px
      a.category
        max-width: 115px
        border-radius: 3px
        color: $shadowColor
        display: inline-block
        font-weight: bold
        font-size: 16px
        height: 30px
        line-height: 20px
        margin-left: 13px
        text-align: center
        text-decoration: none
        &:hover
          background-color: $shadowColor
          color: $ultralColor
          transition: all 0.4s
        &:active
          background-color: $ultralColor
  .boxes
    margin: 0 auto
    padding-top: 10px
    width: 928px
    h1
      color: $shadowColor
      font-size: 35px
      height: 70px
      text-align: center
    .box
      background-color: $ultralColor
      border-radius: 10px
      float: left
      height: 275px
      margin-right: 10px
      margin-bottom: 10px
      width: 222px
      word-wrap: break-word
      box-shadow: 1px 1px 3px
      & h1
        height: 28px
        margin-top: 10px
        margin-bottom: 10px
        line-height: 24px
        & a
          color: $shadowColor
          font-size: 24px
          font-weight: bold
          text-shadow: 1px 1px 1px $shadowColor
          text-decoration: none
      & h2
        color: $shadowColor
        font-size: 18px
        margin-top: 5px
        margin-bottom: 5px
      p#author
        font-size: 12px
        font-style: italic
        margin: 0 auto
        text-align: left
        padding-left: 6px
        & a
          color: $shadowColor
          text-decoration: none
      p#views
        font-size: 25px
        max-width: 255px
        margin: 0 auto
        width: 222px
        background-color: Gold
        border-bottom-right-radius: 10px
        border-bottom-left-radius: 10px
        border-bottom: 0.5px solid
        & a
          color: $shadowColor
          text-decoration: none
          font-size: 20px
      & span img
        height: 20px
        width: 20px
      & .imageTheory
        background: $shadowColor
        border-radius: 4px
        display: block
        margin: 0 auto
        margin-top: 10px
        padding-top: 5px
        width: 209px
        height: 173px
        & img
          height: 168px
          width: 199px
          margin-left: 5px
  // .container
  //   width: 800px
  //   float: left
  //   margin-left: 10px
  //   & .theory
  //     background-color: $lightColor
  //     border-radius: 5px
  //     float: left
  //     margin-bottom: 10px
  //     margin-right: 10px
  //     height: 250px
  //     width: 200px
  //     & .data
  //       margin: 0 auto
  //       & .title
  //         text-align: center
  //         & a
  //           color: $shadowColor
  //           text-decoration: none
  //           font-size: 20px
  //           font-weight: bold
  //       & .image
  //         background-color: $shadowColor
  //         width: 190px
  //         height: 160px
  //         text-align: center
  //       & img
  //         margin-top: 5px
  //         width: 180px
  //         height: 150px
