.newIdea
  %section#introduction
    %h1 Mude o mundo!
    %p
      %h2 Uma dica pode ajudar muita pessoas, a sua pode ajudar o mundo!
    %p
  = render 'form'
  .hints#tips
    %section
      %h1#hintTitle Como dar uma boa dica?
      %h2 Mude o mundo.
      %p Uma ideia para mudar o mundo, podem ser ideias muito importante para certas pessoas. Desde dicas sobre como aguar o seu jardim a ferramentas feitas com reciclagem.

      %p Uma dica não precisa ser apenas uma ferramenta, pode ser estilos de vida que ajuda a melhorar a auto-estima.

      %h2 Descrição.
      %p Na descrição voce é livre para se expressar a vontade. Faça pequenos tutoriais em forma de lista, imagens, etc.

      %h2 Palavras chaves.
      %p Indique as palavras chaves de sua idea, para facilitar que os usuarios façam busas.

      %h2 Vamos lá! E ajude o ideas a mudar o mudo!