=link_to "Home", "/", class: "botao"
=link_to "Usuarios Cadastrados", users_path, class: "botao"
=link_to "Categorias", categories_path, class: "botao"
=link_to "Ideias", theories_path, class: "botao"
=link_to "Administradores", admins_path, class: "botao"
=link_to "Diarios", journals_path, class: "botao"
=link_to "Adoções", adoptions_path, class: "botao"