=link_to "Home", "/"
=link_to "Admins", admins_path
=link_to "Adoções", adoptions_path
=link_to "Categorias", categories_path
=link_to "Diarios", journals_path
=link_to "Ideias", theories_path
=link_to "Usuários", users_path
=link_to "Sair", "/sair", id: "logout"