=link_to "Home", "/", class: "navlinks"
=link_to "Admins", admins_path, class: "navlinks"
=link_to "Adoções", adoptions_path, class: "navlinks"
=link_to "Categorias", categories_path, class: "navlinks"
=link_to "Diarios", journals_path, class: "navlinks"
=link_to "Ideias", theories_path, class: "navlinks"
=link_to "Usuários", users_path, class: "navlinks"
=link_to "Sair", "/sair", id: "logout"