=link_to "Home", "/", class: "botao"
=link_to "Perfil", User.find(session[:id]), class: "botao"
=link_to "Compartilhe Sua Ideia", new_theory_path, class: "botao"
=link_to "Ideias", theories_path, class: "botao"
